VITE_API_URL=http://localhost:4000
VITE_STACKS_NETWORK=simnet
VITE_CONTRACT_ADDRESS=YOUR_CONTRACT_ADDRESS
VITE_CONTRACT_NAME_ROLES=role-registry
VITE_CONTRACT_NAME_CERTS=certificate-store
VITE_STACKS_API_URL=http://localhost:20443